<style>
  a {
    text-align: center;
    color:black;
    letter-spacing: 5px;
  }
  li {
    text-align: center;
    list-style: none;
    line-height: 40px;
    margin-top: 0px;
    font-size: 10px;
    letter-spacing: 5px;
    color: black;
    margin-left: auto;
    margin-right: auto;

  }
h1 {
  text-align:center;
  letter-spacing: 3px;
  font-size: 20px;
}
div {
  text-align:center;
  font-size: 15px;
}
img {
  background-position: center;
  width: 400px;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.aa{
  text-decoration: none;
  color: black;
}
.tt {
  text-align: center;
  line-height: 100px;
  margin-top: 130px;
  font-size: 20px;
  color: black;
}
</style>
